/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* container */
.container {
    width: 1438px;
    margin: auto;
}

.flex {
    display: flex;
}
/* fine container */

/* header */
header {
    background-color: #FF6900;
    color: white;
    font-weight: 500;
    position: fixed;
    width: 100%;
    padding: 20px 0px;
    z-index: 1;
}

header .container .link-bar {
    width: 25%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

header .container .link-bar a{
    text-decoration: none;
    color: white;
}
header .container .profile {
    width: 25%;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
header .container .logo {
    width: 50%;
    flex-grow: 1;
    justify-content: center;
}

header .container .logo img {
    width: 140px;
}
/* fine header */


/* struttura main */
main {
    padding: 110px 10px;
}

main .container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 20px;
}
/* fine struttura main */


/* struttra cards */
main .container .card {
    width: calc((100% / 3) - 40px);
    flex-grow: 1;
    flex-direction: column;
}

main .container .card .image {
    width: 100%;
    position: relative;
}

main .container .card .image img {
width: 100%;
}

main .container .card .image .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: contain;
        opacity: 0;
        transition: .5s ease;
}

main .container .card .image .overlay:hover {
    opacity: 1;
}
main .container .card .description {
    position: relative;
}

main .container .card .description .low-price {
    color: red;
    font-weight: 600;
}

main .container .card .description .full-price {
    text-decoration: line-through;
}

main .container .card .description .discount {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px 8px;
    font-size: 0.8em;
    position: absolute;
    top: -44px;
}

main .container .card .description .sustainable {
    background-color: green;
    color: white;
    padding: 5px 8px;
    font-size: 0.8em;
    position: absolute;
    top: -44px;
    left: 50px;
}

main .container .card .description .sustainable-only {
    background-color: green;
    color: white;
    padding: 5px 8px;
    font-size: 0.8em;
    position: absolute;
    top: -44px;
    left: 0px;
}

main .container .card .description .like {
    background-color: white;
    position: absolute;
    padding: 10px 10px;
    top: -650px;
    right: 0px;
}

main .container .card .description .like:hover {
    color: red;
}


/* fine struttra cards */



